<!DOCTYPE html>
<html lang="en">
<div th:replace="~{head :: head}"></div>
<head>
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }
        .wrapper {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        .content {
            flex: 1;
        }
        footer {
            position: sticky;
            bottom: 0;
            background-color: #f8f9fa;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <!-- Sticky Navbar -->
    <div th:replace="~{nav :: navbar}"></div>
    <div class="content container mt-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">TIMESTAMP</th>
                    <th scope="col">NAME</th>
                    <th scope="col">DOWNLOAD</th>
                </tr>
            </thead>
            <tbody id="elmo-table-body">
                <tr th:each="row : ${elmos}">
                    <td th:text="${row.Id}">Id</td>
                    <td th:text="${row.Timestamp}">Timestamp</td>
                    <td th:text="${row.Name}">Name</td>
                    <td><a th:href="@{|/import/download/${row.Id}|}"><span>Elmo</span></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Footer -->
    <footer th:replace="~{footer :: footer}"></footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-6oZVynJlq0tWDbzg2czj3SUOHp2kE2yc2kGJ5eZnf4tzF3LVO1vFt0RypRjBaw9M"
        crossorigin="anonymous"></script>
<script>
    async function updateTable() {
        try {
            const response = await fetch('/import/readDirFragment');
            if (response.ok) {
                const html = await response.text();
                document.getElementById('elmo-table-body').innerHTML = html;
            } else {
                console.error('Failed to fetch table data:', response.statusText);
            }
        } catch (error) {
            console.error('Error updating table:', error);
        }
    }

    setInterval(updateTable, 5000);
</script>
</body>
</html>
