<!DOCTYPE html>
<html lang="en">
<div th:replace="~{head:: head}"></div>
<body>
<div th:replace="~{nav :: navbar}"></div>

<main class="container mt-4">
	<div class="text-center">
		<div th:if="${qr_code != null}">
			<img th:src="${'data:image/png;base64,' + qr_code}" alt="" height="400" width="400" class="mb-3">
			<p>
				<a th:href="@{${dc4euWWWalletURL}}" class="btn btn-primary d-block mx-auto" style="width: 400px;">Open in
					DC4euwallet</a>
			</p>
			<p>
				<a th:href="@{${openInDemoWWWalletButton}}" class="btn btn-primary d-block mx-auto" style="width: 400px;">Open in demo
					wwWallet</a>
			</p>
			<p>
				<a href="/import/readDir" class="btn btn-primary" style="width: 400px;">Show incoming credentials</a>
			</p>
		</div>
	</div>
</main>
<div th:replace="~{footer :: footer}"></div>
</body>
</html>
